$base-green: #80C75E;
$base-brown: #625749;
$light-green: #E0FFB9;

$base-green: #3D6F63;
$base-brown: #FF6164;
$light-green: #DDDCC8;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $base-green;

  #header {
    font-size: 5em;

    @media only screen and (max-width: 906px) {
      font-size: 3em;
    }
    @media only screen and (max-width: 530px) {
        font-size: 2.5em;
    }
  }

  // .scoreTable {
  //   width: 80vw;

  //   tr {
  //     background-color: white;
  //     height: 3em;
  //     border: 1px solid black;
      
  //     td {
  //       width: 15px;
  //       background-color: $base-brown;
  //       border: 1px solid black;
  //       text-align: center;
  //     }
  //       .nameInput {
  //         width: 1em;
          
  //         input {
  //           width: 8em;
  //         }
  //       }
  //   }

  //   #initials {
  //     writing-mode: vertical-rl;
  //     text-orientation: upright;
  //   }
  // }


  #courseOptions {
    display: flex;
    // testing
    // display: none;
    // testing
    justify-content: space-around;
    width: 80vw;
    margin-top: 40px;

    @media only screen and (max-width: 906px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 30em;
    }
    @media only screen and (max-width: 530px) {
        flex-direction: column;
        justify-content: flex-start;
        width: 20em;
    }

    .card {
      margin: 5px;
      padding: 20px;
      max-width: 300px;
      background-color: $base-brown;

      img {
        height: 210px;
      }
      .footer {
        display: flex;
        justify-content: center;
        max-width: 280px;

        a {
          width: 75vw;
          max-width: 280px;
          display: flex;
          align-items: center;
          text-decoration: none;
          justify-content: center;
          
          button {
            width: 180px;
            height: 5vh;
            border-radius: 2em;
            z-index: 1;
            max-width: 280px;
          }
        }
      }
    }
  }

  #courseScorecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: auto;

    table {
      width: 80vw;
      text-align: center;
      background-color: #DDDCC8;
      // border: 2px solid black;

      tr {
        // width: 80vw;
        border: 1px solid black;

        th, td {
          width: 3.5em;
        }

      }
    }

    // ORIGINAL TABLE ATTRIBUTES BEFORE 3/28
    // table {
    //   width: 80vw;
    //   text-align: center;
    //   border: 2px solid black;

    //   tr {
    //     border: 1px solid black;
    //     height: 3em;
    //     display: flex;
    //     justify-content: space-evenly;
    //     align-items: center;

    //     h4 {
    //       margin: 0;
    //       width: 5em;
    //     }
    //     h5 {
    //       margin: auto 0;
    //     }
    //   }

    //   th {
    //     // border: 1px solid black;
    //     display: block;
    //     width: 2em;
    //     // display: flex;
    //     // align-items: center;
        
    //     input {
    //       width: 2em;
    //       background-color: #DDDCC8;
    //       display: flex;
    //       text-align: center;
    //     }
    //   }

    // }
    // ORIGINAL TABLE ATTRIBUTES BEFORE 3/28 ^^



  }







} //body